<a href="https://colab.research.google.com/github/409650891/409650891/blob/main/0608.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
scores=["國文成績:85分","數學成績:79分","英文成績:93分"]
for i in range(len(scores)):
  print(scores[i])

國文成績:85分
數學成績:79分
英文成績:93分

In [ ]:
list=["編號:1 姓名:Tom","編號:2 姓名:Mary","編號:3 姓名:Tony"]
for i in range(len(list)):
  print(list[i])

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony